Please enter your current password and a new password. For your security, please enter the new password twice.<br/>
<br/>
{% set title = 'Change Password' %}
{% set background = config('darkborder') %}
{% set content %}
<table style="width:100%;">
	<tr>
		<td class="LabelV">
			<label for="old_password">Current Password:</label>
		</td>
		<td>
			<input form="form" type="password" id="old_password" name="old_password" size="30" maxlength="29">
		</td>
	</tr>

	{{ hook('HOOK_ACCOUNT_CHANGE_PASSWORD_AFTER_OLD_PASSWORD') }}

	<tr>
		<td class="LabelV">
			<label for="new_password">New Password:</label>
		</td>
		<td style="width:90%;">
			<input form="form" type="password" id="new_password" name="new_password" size="30" maxlength="29">
		</td>
	</tr>

	{{ hook('HOOK_ACCOUNT_CHANGE_PASSWORD_AFTER_NEW_PASSWORD') }}

	<tr>
		<td class="LabelV">
			<label for="new_password_confirm">New Password Again:</label>
		</td>
		<td>
			<input form="form" type="password" id="new_password_confirm" name="new_password_confirm" size="30" maxlength="29">
		</td>
	</tr>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
<br/>
<table style="width:100%;">
	<tr align="center">
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="border:0;">
						<form id="form" action="{{ getLink('account/change-password') }}" method="post">
							{{ csrf() }}
							{{ include('buttons.submit.html.twig') }}
						</form>
					</td>
				<tr>
			</table>
		</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="border:0px;">
						<form action="{{ getLink('account/manage') }}" method="post">
							{{ csrf() }}
							{{ include('buttons.back.html.twig') }}
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
