New password to your account is below. Now you can login.<BR>
<table cellspacing="1" cellpadding="4" border="0" width="100%">
	<tr>
		<td bgcolor="{{ config('vdarkborder') }}" class="white"><b>Changed password</b></td>
	</tr>
	<tr>
		<td bgcolor="{{ config('darkborder') }}">
			New password:&nbsp;<b>{{ newPassword }}</b><br/>
			Account name:&nbsp;&nbsp;&nbsp;<i>(Already on your e-mail)</i><br/>
			{{ statusMsg|raw }}
		</td>
	</tr>
</table>
<br/>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td align="center">
			<form action="{{ getlink('account/manage') }}" method="post">
				{{ include('buttons.submit.html.twig') }}
			</form>
		</td>
	</tr>
</table>
