To generate recovery key for your account please enter your password.<br/><br/>
{% set title = 'Generate recovery key' %}
{% set content %}
<table style="width:100%;" >
	<tr>
		<td class="LabelV">
			<span>Password:</span>
		</td>
		<td>
			<input form="form" type="password" name="reg_password" size="30" maxlength="29" autofocus/>
		</td>
	</tr>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
<br/>
<table style="width:100%">
	<tr align="center">
		<td>
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td style="border:0px;">
						<form id="form" action="{{ getLink('account/register') }}" method="post">
							{{ csrf() }}
							<input type="hidden" name="registeraccountsave" value="1"/>
							{{ include('buttons.submit.html.twig') }}
						</form>
					</td>
				<tr>
			</table>
		</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<form action="{{ getLink('account/manage') }}" method="post">
					{{ csrf() }}
					<tr>
						<td style="border: 0px;">
							{{ include('buttons.back.html.twig') }}
						</td>
					</tr>
				</form>
			</table>
		</td>
	</tr>
</table>
