Please enter e-mail to account with this character.<br/>
<form action="{{ getLink('account/lost') }}?action=send-code" method="post">
	<input type=hidden name="character">
	<table cellspacing=1 cellpadding=4 border=0 width=100%>
		<tr>
			<td bgcolor="{{ config('vdarkborder') }}" class="white"><b>Please enter e-mail to account</b></td>
		</tr>
		<tr>
			<td bgcolor="{{ config('darkborder') }}">
				Character: <input type=text name="nick" value="{{ nick }}" size="40" readonly="readonly"><br/>
				E-mail to account: <input type=text name="email" value="" size="40"><br/>
			</td>
		</tr>
	</table>
	<br>
	<table cellspacing=0 cellpadding=0 border=0 width=100%>
		<tr>
			<td><div style="text-align:center">
				{{ include('buttons.submit.html.twig') }}</div>
			</TD>
		</TR>
	</table>
</form>
