Your account name, new password and new e-mail.<br/>
<table cellspacing="1" cellpadding="4" border="0" width="100%">
	<tr>
		<td bgcolor="{{ config('vdarkborder') }}" class="white">
			<b>Your account name, new password and new e-mail</b>
		</td>
	</tr>
	<tr>
		<td bgcolor="{{ config('darkborder') }}">
			Account name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ account.getName() }}</b><br/>
			New password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ newPassword }}</b><br/>
			New e-mail address:&nbsp;<b>{{ newEmail }}</b><br/>
			{{ statusMsg|raw }}
		</td>
	</tr>
</table>
<br>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td align="center">
			<form action="{{ getLink('account/manage') }}" method="post">
				{{ include('buttons.login.html.twig') }}
			</form>
		</td>
	</tr>
</table>
