{% set title = 'Activate Email Code Authentication' %}

{% set content %}
<table style="width:100%;">
	<tbody>
	<tr>
		<td>
			<div class="TableContentContainer">
				<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
					<tbody>
					<tr>
						<td>Enter the email code below to activate <b>two-factor email code authentication</b>. Note
							that this code is only valid for 24 hours.<br><br>
							<div class="AttentionSign"><img src="{{ template_path }}/images/global/content/attentionsign.gif"></div>
							<b>Note:</b> Once you have email code authentication activated, an <b>email code</b> will be
							sent to the email address assigned to your account whenever you try to log in to the Tibia
							client or the {{ config.lua.serverName }} website. In order to log in, you will need to enter the <b>most recent
								email code</b> you have received.
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="TableContentContainer">
				<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
					<tbody>
					<tr>
						<td>
							<div style="float: right;">
								<form action="{{ getLink('account/2fa') }}?action=email-code"
									method="post" style="padding:0;margin:0;">
									{{ csrf() }}

									{% if account_logged is defined %}
										<input type="hidden" name="account_logged" value="{{ account_logged.getId() }}">
									{% endif %}
									<input type="hidden" name="step" value="resend">

									{% set button_name = 'Resend Email Code' %}
									{% include('buttons.base.html.twig') %}
								</form>
							</div>
							An <b>email code</b> has already been sent to the email address assigned to your account.
							Please check your email account's spam/junk filter and make sure that your mailbox is not
							full.<br>In case you need a new email code, you can request one by clicking on "Resend Email
							Code".
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="TableContentContainer">
				<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
					<tbody>
					<tr>
						<td>To complete the activation of email code authentication for your Tibia account, please enter
							the email code you received at the email address assigned to your account.
							<div style="margin-top: 15px; margin-bottom: 15px;">
								<div class="LabelV150 {{ wrongCode ? 'red' : '' }}" style="float:left;">Email Code:</div>
								<input form="confirmActivateForm" name="auth-code" maxlength="6">
								{% if wrongCode %}
									<br/>
									<div class="LabelV150" style="float:left;">&nbsp; </div>
									<div class="FormFieldError">Invalid email code!</div>
								{% endif %}
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
	</tbody>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
<br/>
<table style="width: 100%;">
	<tbody>
	<tr align="center" valign="top">
		<td>
			<form id="confirmActivateForm" action="{{ getLink('account/2fa') }}?action=email-code" method="post" style="padding:0;margin:0;">
				{{ csrf() }}

				<input type="hidden" name="step" value="activate">
				<input type="hidden" name="save" value="1">

				{% set button_color = 'green' %}
				{{ include('buttons.submit.html.twig') }}
			</form>
		</td>
		<td>
			<form action="{{ getLink('account/manage') }}" method="post" style="padding:0;margin:0;">
				{{ csrf() }}
				{% set button_color = 'blue' %}
				{{ include('buttons.back.html.twig') }}
			</form>
		</td>
	</tr>
	</tbody>
</table>
