Please enter your current password and a new password. For your security, please enter the new password twice.<br/>
<br/>
{% set title = 'Change Password' %}
{% set background = config('darkborder') %}
{% set content %}
<table style="width:100%;">
	<tr>
		<td class="LabelV">
			<span>New Password:</span>
		</td>
		<td style="width:90%;">
			<input form="form" type="password" name="newpassword" size="30" maxlength="29">
		</td>
	</tr>
	<tr>
		<td class="LabelV">
			<span>New Password Again:</span>
		</td>
		<td>
			<input form="form" type="password" name="newpassword_confirm" size="30" maxlength="29">
		</td>
	</tr>
	<tr>
		<td class="LabelV">
			<span>Current Password:</span>
		</td>
		<td>
			<input form="form" type="password" name="oldpassword" size="30" maxlength="29">
		</td>
	</tr>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
<br/>
<table style="width:100%;">
	<tr align="center">
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="border:0px;">
						<form id="form" action="{{ getLink('account/password') }}" method="post">
							{{ csrf() }}
							{{ include('buttons.submit.html.twig') }}
						</form>
					</td>
				<tr>
			</table>
		</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="border:0px;">
						<form action="{{ getLink('account/manage') }}" method="post">
							{{ csrf() }}
							{{ include('buttons.back.html.twig') }}
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
