To delete a character enter the name of the character and your password.<br/><br/>
{% set title = 'Delete Character' %}
{% set background = config('darkborder') %}
{% set content %}
<table style="width:100%;">
	<tr>
		<td class="LabelV" ><span>Character Name:</span></td>
		<td style="width:90%;">
			<input form="form" name="delete_name" value="" size="30" maxlength="29"/>
		</td>
	</tr>
	<tr>
		<td class="LabelV" ><span>Password:</span></td>
		<td>
			<input form="form" type="password" name="delete_password" size="30" maxlength="29"/>
		</td>
	</tr>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
<br/>
<table style="width:100%">
	<tr align="center">
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="border:0px;">
						<form id="form" action="{{ getLink('account/character/delete') }}" method="post">
							{{ csrf() }}
							<input type="hidden" name="deletecharactersave" value="1"/>
							{{ include('buttons.submit.html.twig') }}
						</form>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<form action="{{ getLink('account/manage') }}" method="post">
					{{ csrf() }}
					<tr>
						<td style="border:0px;">
							{{ include('buttons.back.html.twig') }}
						</td>
					</tr>
				</form>
			</table>
		</td>
	</tr>
</table>
