<div class="card card-info card-outline">
	<div class="card-header">
		<h5 class="m-0">Pages
			<a href="?p=pages&action=new" class="float-right"><span class="btn btn-sm btn-success">New</span></a></h5>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered table-responsive d-md-table" id="tb_pages">
			<thead>
			<tr>
				<th>Name</th>
				<th>Title</th>
				<th>PHP</th>
				<th style="width: 150px;">Options</th>
			</tr>
			</thead>
			<tbody>
			{% for page in pages %}
				<tr>
					<td>{{ page.link|raw }}</td>
					<td><i>{{ page.title }}</i></td>
					<td>{% if page.php %}Yes{% else %}No{% endif %}</td>
					<td>
						<div class="btn-group">
							<a href="?p=pages&action=edit&id={{ page.id }}" class="btn btn-success btn-sm" title="Edit">
								<i class="fas fa-pencil-alt"></i>
							</a>
							<a href="?p=pages&action=delete&id={{ page.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');" title="Delete">
								<i class="fas fa-trash"></i>
							</a>
							<a href="?p=pages&action=hide&id={{ page.id }}" class="btn btn-{{ (page.hidden != 1) ? 'info' : 'default' }} btn-sm" title="{% if page.hidden != 1 %}Hide{% else %}Show{% endif %}">
								<i class="fas fa-eye{{ (page.hidden != 1) ? '' : '-slash' }}"></i>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
	$(function () {
		$('#tb_pages').DataTable()
	})
</script>
