<div class="login-page">
	<div class="login-box">
		<div class="login-logo"><b>My</b>AAC</div>
		{% if errors %}
			<div class="alert alert-danger"><strong>Errors:</strong><br/>
				{% for error in errors %}
					<li>{{ error|raw }}</li>
				{% endfor %}
			</div>
		{% endif %}
		{% if logout %}
			<div class="alert alert-success"><strong>Status:</strong><br/>
				{{ logout }}
			</div>
		{% endif %}

		<div class="card">
			<div class="card-body">
				<p class="login-box-msg">Please login.</p>

				<form method="post" action="{{ constant('ADMIN_URL') }}">
					{{ csrf() }}
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-lock"></i></span>
						</div>
						<input type="text" class="form-control" id="account-name-input" name="account_login" placeholder="{{ account_login_by }}" required autofocus>
					</div>
					{{ hook('HOOK_ADMIN_LOGIN_AFTER_ACCOUNT') }}
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" name="password_login"
							   placeholder="Password" required>
					</div>
					{{ hook('HOOK_ADMIN_LOGIN_AFTER_PASSWORD') }}
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary">
								<input type="checkbox" id="remember_me" name="remember_me" value="true">
								<label for="remember_me">Remember Me</label>
							</div>
						</div>
						<div class="col-4">
							<input type="hidden" name="admin" value="1"/>
							<button type="submit" class="btn btn-info btn-block">Sign In</button>
						</div>
					</div>
					{{ hook('HOOK_ADMIN_LOGIN_AFTER_SIGN_IN') }}
				</form>
			</div>
		</div>
	</div>
</div>
