<b>Installed plugins:</b>
<table class="table" border="0" align="center">
	<tr>
		<th>Plugin name (Description on hover)</th>
		<th>Filename</th>
		<th>Version</th>
		<th>Author</th>
		<th>Contact</th>
		<th>Options</th>
	</tr>
	{% for plugin in plugins %}
	<tr>
		<td><div title="{{ plugin.description }}">{{ plugin.name }}</div></td>
		<td>{{ plugin.file }}.json</td>
		<td>{{ plugin.version }}</td>
		<td>{{ plugin.author }}</td>
		<td>{{ plugin.contact }}</td>
		<td>
		{% if plugin.uninstall %}
			<a href="?p=plugins&uninstall={{ plugin.file }}" onclick="return confirm('Are you sure?');">Uninstall</a>
		{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>