<table>
	<tr>
		<td>
			<form action="{{ constant('ADMIN_URL') }}?p={{ page }}" method="post" style="float: left">
				{{ csrf() }}
				<input type="hidden" name="action" value="edit" />
				<input type="hidden" name="id" value="{{ id }}" />
				<button type="submit" title="Edit"><img src="images/edit.png"/> Edit</button>
			</form>

			<form action="{{ constant('ADMIN_URL') }}?p={{ page }}" method="post" style="float: left">
				{{ csrf() }}
				<input type="hidden" name="action" value="delete" />
				<input type="hidden" name="id" value="{{ id }}" />
				<button type="submit" onclick="return confirm('Are you sure?');" title="Delete"><img src="images/del.png"/>Delete</button>
			</form>

			<form action="{{ constant('ADMIN_URL') }}?p={{ page }}" method="post" style="float: left">
				{{ csrf() }}
				<input type="hidden" name="action" value="hide" />
				<input type="hidden" name="id" value="{{ id }}" />
				<button type="submit" title="{% if hide != 1 %}Hide{% else %}Show{% endif %}"><img src="images/{{ hide != 1 ? 'success' : 'error' }}.png"/>{{ hide != 1 ? 'Hide' : 'Show' }}</button>
			</form>
		</td>
	</tr>
</table>
