<br/><br/>
<div style="text-align:center">
	We're using official Tibia Client <strong>{{ config.client / 100 }}</strong><br/>
	<p>Download Tibia client {{ config.client / 100 }} for windows <a href="{{ config.client_download }}">HERE</a>.</p>
	<p>Download Tibia client {{ config.client / 100 }} for linux <a href="{{ config.client_download_linux }}">HERE</a>.</p>

	<h2>IP Changer:</h2>

	<a href="https://static.otland.net/ipchanger.exe" target="_blank">HERE</a>
</div>