{% set title = 'Delete Guild' %}
{% set background = config('darkborder') %}
{% set content %}
<table style="width:100%;" >
	<tr>
		<td>Are you sure you want delete guild <b>{{ guild.getName() }}</b>?<br/>
			<form action="{{ getLink('guilds') }}?guild={{ guild.getName() }}&action=delete_guild" method="post">
				{{ csrf() }}
				<input type="hidden" name="todo" value="save"/>
				<input type="submit" value="Yes, delete"/>
			</form>
		</td>
	</tr>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
<br/>
<div style="text-align:center">
	<form action="{{ getLink('guilds') }}?guild={{ guild.getName() }}&action=manager" method="post">
		{{ csrf() }}
		{{ include('buttons.back.html.twig') }}
	</form>
</div>
