<table border="0" cellspacing="1" cellpadding="4" width="100%">
	<thead>
	<tr bgcolor="{{ config.vdarkborder }}">
		<td colspan="3" class="white"><b>{{ title|raw }}</b></td>
	</tr>
	</thead>
	<tbody>
	<tr style="background-color: {% if background is not null %}{{ background }}{% else %}{{ config.darkborder }}{% endif %}">
		<td>
			{{ description|raw }}
		</td>
	</tr>
	</tbody>
</table>
<br/>
{% if custom_buttons is defined %}
{{ custom_buttons|raw }}
{% else %}
<div style="text-align:center">
	<table border="0" cellspacing="0" cellpadding="0">
		<form action="{{ getLink('account/manage') }}" method="post">
			<tr>
				<td style="border:0px;">
					{{ include('buttons.back.html.twig') }}
				</td>
			</tr>
		</form>
	</table>
</div>
{% endif %}
