<table border="0" cellspacing="1" cellpadding="4" width="100%">
	<thead>
	<tr bgcolor="{{ config.vdarkborder }}">
		<td colspan="3" class="white"><b>{{ title|raw }}</b></td>
	</tr>
	</thead>
	<tbody>
	<tr style="background-color: {% if background is not null %}{{ background }}{% else %}{{ config.lightborder }}{% endif %}">
		<td>
			{{ content|raw }}
		</td>
	</tr>
	</tbody>
</table>
