Please enter code from e-mail and name of one character from account. Then press Submit.<br/>
<form action="{{ getLink('account/lost/check-code') }}" method="post">
	<table style="width: 100%; border-spacing: 1px">
		<tr>
			<td style="padding: 4px; background: {{ config('vdarkborder') }}" class="white">
				<b>Code & character name</b>
			</td>
		</tr>
		<tr>
			<td style="padding: 4px; background: {{ config('darkborder') }}">
				Your code:&nbsp;<input type="text" name="code" value="{{ code }}" size="40"><br/>
				Character:&nbsp;<input type="text" name="character" value="{{ character }}" size="40"><br/>
			</td>
		</tr>
	</table>
	<br>
	<table style="width: 100%">
		<tr>
			<td align="center">
				{% set button_name = 'Submit' %}
				{% include('buttons.base.html.twig') %}
			</td>
		</tr>
	</table>
</form>
