New password to your account is below. Now you can log in.<BR>
<table style="width: 100%; border-spacing: 1px">
	<tr>
		<td style="padding: 4px; background: {{ config('vdarkborder') }}" class="white"><b>Changed password</b></td>
	</tr>
	<tr>
		<td style="padding: 4px; background: {{ config('darkborder') }}">
			New password:&nbsp;<b>{{ newPassword }}</b><br/>
			Account name:&nbsp;&nbsp;&nbsp;<i>(Already on your e-mail)</i><br/>
			{{ statusMsg|raw }}
		</td>
	</tr>
</table>
<br/>
<table style="width: 100%">
	<tr>
		<td align="center">
			<form action="{{ getLink('account/manage') }}">
				{% set button_name = 'Login' %}
				{% include('buttons.base.html.twig') %}
			</form>
		</td>
	</tr>
</table>
